body {
    /* margin-top: 20px;*/
    background: #FAFAFA;
    /* background-image: url("/image/background.jpg");*/
}
/*.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}*/

/*............search box..........*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}


/*.height {
    height: 100vh;
}
*/

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}
    .search input {
        height: 50px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }
        .search input:focus {
            box-shadow: none;
            border: 2px solid black;
        }
.button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    margin-top: -5px;
}

.hii{
    position: absolute;
    top: 17px;
    left: 16px;
}


